
{% load static %}

<!DOCTYPE html>



<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дневник</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#topic').onclick = function() {

                document.querySelector('#red').style.color = 'red'
                }

        });

    </script>
    <link href="{% static 'diary/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1 id="red">Добро пожаловать в календарь событий!</h1>
    <h2>День</h2>
    <h2>Неделя</h2>
    <h2>Месяц</h2>

    <button id="topic">Тема</button>

    <a href="{% url 'new_event' %}">Создать событие</a>
</body>
</html>